.for-slider {
	position: relative;
	top:0; left:0;
	width: 100%;
	min-height: 310px;
	z-index: 1;
	overflow: hidden;
}

.for-slider .slides {
	position: absolute;
	top:0; left:0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: none;
	background-attachment: fixed;
}

.slider-numbers {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 13px 0;
}

.slider-num {
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	width: 30px;
	height: 5px;
	background: #aaa9a9;
	cursor: pointer;
	margin: 0 5px;
}

.bg-slider-num-active {
	background: #f0b7c4;
}

@media only screen and (max-width: 480px) {
	
/*	.for-slider {
		min-height: 405px;
	}
*/
}